.Logos {
    grid-area: Logos;
    display: grid;
    grid-template-columns: minmax(1.5rem, 1fr) minmax(min-content, 120rem) minmax(1.5rem, 1fr);
    grid-template-rows: 25rem;
    grid-template-areas: '. container .';

    &__Container {
        grid-area: container;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        justify-items: center;
        align-items: center;
        
        img {
            transition: all .3s ease-in-out;
        }

        img:hover {
            transform: scale(1.3);
        }
    }
}